* {
    box-sizing: border-box;

}

html, body {
    margin: 0;
    height: 100%;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
    position: absolute;
}

.conteudo {
    text-align: center;
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #ccc;
    padding: 5px;
    /* border-radius: 0px; */
}

.section {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,.01);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.section.section--contact {
    background: #0001ab;
    width: 100%;
    height: 100%;
}

.scanlines {
    width: 100%;
    height: 100%;
}

.scanlines, .scanlines:after, .scanlines:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* pointer-events: none; */
}


.scanlines:before {
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(18,16,16,0)),color-stop(50%,rgba(0,0,0,.25))),-webkit-gradient(linear,left top,right top,from(rgba(255,0,0,.06)),color-stop(rgba(0,255,0,.02)),to(rgba(0,0,255,.06)));
    background: -webkit-linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,.25) 50%),-webkit-linear-gradient(left,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
    background: -o-linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,.25) 50%),-o-linear-gradient(left,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06)); */
    background: linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,.25) 50%),linear-gradient(
90deg
,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
    z-index: 1;
    background-size: 100% 3px,3px 100%;
}

.scanlines:after, .scanlines:before {
    content: " ";
    display: block;
    bottom: 0;
}

.scanlines:after {
    background: rgba(18,16,16,.14);
    opacity: 0;
}


.scanlines:after, .scanlines:before {
    content: " ";
    display: block;
    bottom: 0;
}

.progress {
    height: 1.5rem;
    overflow: hidden;
    background-color: grey;
    /* border-radius: .25rem; */
    display: flex;
    border-top: #333 solid 3px;
    border-left: #333 solid 3px;
    border-bottom: #ccc solid 3px;
    border-right: #ccc solid 3px;
}

.progress::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    /* background: rgb(204,204,204);
    background: linear-gradient(135deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); */
    border-top: #ccc solid 3px;
    border-left: #ccc solid 3px;
    border-bottom: #fff solid 3px;
    border-right: #fff solid 3px;
    z-index: -1;
}

.progress-bar {
    text-align: center;
    color: #fff;
}

.bg-weak {
    background-color: #d9534f;
}
.bg-good {
    background-color: #f0ad4e!important;
}
.bg-strong {
    background-color: #5cb85c!important;
}
