.avatar {
    position: relative;
    left: 3rem;
    z-index: 100;
    margin-top: 1rem;
}

.nome {
    font-family: 'VT323';
    font-size: 2.5rem;
    margin: 0px;
}

.panel {
    padding: 1rem 2rem 2rem 5rem;
}

@media (max-width: 991px) {
    .column {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .avatar {
        margin-top: 0px;
        left: auto;
        width: 10rem !important;
        height: 10rem !important;
    }

    .panel {
        padding: 1rem 2rem 2rem 2rem;
        width: 100%;
    }

}


.window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .window {
    width: 400px;
    min-height: 200px;
  }
  .window:nth-child(2) {
    margin: 2rem;
  }
