.window {
    width: 300px;
    padding-top: 10px !important;
    min-height: 180px;
}

fieldset {
    height: 180px;
}

.data-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.data-title {
    font-weight: bold;
}

.data-body {
    text-align: justify;
    margin-top: 10px;
}

.progress-box {
    width: 100%;
    bottom: 10px;
    position: absolute;
    left: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.progress {
    height: 1.5rem;
    overflow: hidden;
    background-color: grey;
    /* border-radius: .25rem; */
    display: flex;
    border-top: #333 solid 3px;
    border-left: #333 solid 3px;
    border-bottom: #ccc solid 3px;
    border-right: #ccc solid 3px;
}

.progress::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    /* background: rgb(204,204,204);
    background: linear-gradient(135deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); */
    border-top: #ccc solid 3px;
    border-left: #ccc solid 3px;
    border-bottom: #fff solid 3px;
    border-right: #fff solid 3px;
    z-index: -1;
}

#html {
    background-color: #d9534f;
}
#javascript {
    background-color: #f5c765!important;
}
#css {
    background-color: #785cb8!important;
}
#typescript {
    background-color: #2097a7;
}

.anchor-repo {
    right: 10px;
    position: absolute; 
    top: 10px
}

.description {
    margin-top: 0px;
}

#hourglass-repo {
    display: flex;
    justify-content: center;
}